@font-face {
    font-family: "UbuntuSans";
    src: url("../fonts/UbuntuSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "UbuntuSans";
    src: url("../fonts/UbuntuSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "UbuntuSans";
    src: url("../fonts/UbuntuSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}


:root {
    --main-text-color: #1b1b1b;
    --header-color-light: #00387c;
    --header-color: #001e42;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: UbuntuSans, Arial, sans-serif;
    line-height: 1.6;
    font-size: 1.25rem;
    color: var(--main-text-color);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.hTitle {
    font-size: 2rem;
    font-weight: bold;
    line-height: normal;
    color: var(--header-color);
    margin: 0px 8px 16px 8px;
}

h1 {
    font-size: 2rem;
    color: var(--header-color);
    margin: 0px 8px 16px 8px;
}

h2 {
    font-size: 1.5rem;
    color: var(--header-color);
    margin: 0px 8px 16px 8px;
}

h3 {
    font-size: 1.25rem;
    color: var(--header-color);
    margin: 0px 8px 16px 8px;
}

p {
    margin: 0px 8px 16px 8px;
}

ol, ul {
    padding: 0 0 0 40px;
}

li {
    margin: 0px 8px 16px 8px;

}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem 0;
    background-color: white;
}

#headerDiv{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header h1 {
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 0;
}

#menuGomb {
    border: none;
    cursor: pointer;
    padding: 1rem 2rem 1rem 1rem;
    z-index: 1;
    font-size: 1.25rem;
}

#menu {
    /*inset: 2rem;*/
    display: none;
    position: fixed;
}

#menu.show {
    display: block;
    padding: 2rem 0 3rem 0;
    background-color: white;
    width: 100vw;
    position: absolute;
    top: 0;
}

#menu nav ul {
    display:  flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

#menu nav ul li {
    padding: 2px 8px;
    margin: 0 auto;
}

#menu nav ul li a {
    text-decoration: none;
    color: var(--main-text-color);
}

#menu nav ul li a:active {
    text-decoration: underline;
}

/*FLIPBOX*/

.flipBox {
    margin: 0 8px 20px 8px;
    /*box-sizing: content-box;*/
    position: relative;
}

.flipImage {
    width: 100%;
    border-radius: 16px;
    display: block;
    opacity: 1;
}

.flip, .backFlip {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.backFlip{
    opacity: 0;
    pointer-events: none;
}

.flipText {
    position: absolute;
    inset: 0;
    overflow-y: hidden;
    opacity: 0;
    /*display: none;*/         
    padding: 15px;
    border-radius: 16px;
    /*max-height: 250px;        
    overflow-y: auto;         
    box-sizing: border-box;*/

}

#lakat {
    background-color: #060d69;
    color: white;
    scrollbar-color: #8b8b8b #060d69;
}

#lakat h3 {
    color: white;
}

#nth {
    background-color: #d9fae9;
}

#meta {
    background-color: #5dc5da;
}

/*FOOTER*/

footer {
    background-color: var(--main-text-color);
    color: white;
    padding: 1rem 0;
}

#footerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding-inline: 8px;
}

#footerDiv nav ul {
    list-style: none;
    padding: 0;
}

#footerDiv nav ul li a {
    color: white;
}

#footerDiv nav ul li a:hover {
    text-decoration: underline;
}

#footerDiv nav ul li a:active {
    text-decoration: underline;
}

.ai {
    font-style: italic;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

/*TÁBLÁZAT*/

table {
    border-collapse: collapse;
    overflow: scroll;
}

#tablazatDiv {
    overflow-x: auto;
    margin: 2rem 0 4rem 0;
}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--header-color);
    margin: 0px 8px 16px 8px;
    text-align: left;
}

.grey {
    background-color: #4b4b4b;
    color: white;
}

.orange {
    background-color: rgb(230, 170, 59);
}

.red {
    background-color: rgb(197, 102, 102);
}

.green {
    background-color: rgb(98, 156, 98);
}

.yellow {
    background-color: rgb(207, 207, 92);
}

th, td {
    padding: 8px;
    background-color: #ddd;
}

th img {
    width: 50px;
    display: block;
    margin: 0 auto 0 auto;
}

thead.first {
    position: sticky;
    top: 0;
    background-color: white;
}
 /*ŰRLAP*/

 #urlapDiv {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4rem;
 }

 #urlap {
    flex: 0 1 540px;
    margin: 8px;
    padding: 8px;
    background-color: #ccd2e9;
    border-radius: 8px;
    box-shadow: 5px 5px 16px 0px #bababa;
 }

 .urlap-cella {
    margin-bottom: 24px;
 }

 label {
    display: block;
    line-height: 1;
    font-weight: lighter;
 }

 input[type="text"], 
 input[type="email"],
 input[type="number"],
 input[type="date"],
 textarea {
    padding: 8px;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
 }

 select {
    width: 70%;
    min-width: max-content;
    border-radius: 4px;
    padding: 8px;
 }

 .side-by-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
 }

 label[for="TC"] {
    font-size: 1rem;
 }

 button:not(#menuGomb) {
    padding: 8px 16px;
    height: 48px;
    font-size: 1rem;
    border-radius: 8px;
    color: white;
    background-color: var(--header-color);
 }

 button:hover:not(#menuGomb) {
    background-color: var(--header-color-light);
 }

 .errorStyle{
    background-color: #ffd3d3;
    border-color: red !important;    
 }

 .errorBox{
    color: red;
    font-size: .9rem;
 }

 /*JÁTÉK*/
 #jatek {
    margin: 8px 8px 4rem 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: #ccd2e9;
    max-width: 720px;
    box-shadow: 5px 5px 16px 0px #bababa;
 }

#sliderDiv{
    display: none;
}

 #titkosDiv{
    display: none;
    justify-content: space-between;
    padding: 8px;
 }

 #megoldasDiv {
    display: none;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
 }

 #start {
    margin: 8px 0;
 }

 @media (min-width: 45rem) {

    .flipFlex {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        gap: 1rem;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .flipMellett{
        flex-shrink: 1.3;
    }
 }

 @media (min-width: 60rem) {
    
    #menuGomb{
        display: none;
    }

    #menu{
        display: contents;
    }

    #menu nav ul {
        display: flex;
        flex-direction: row;
    }

    #menu nav ul li a{
        color: var(--header-color);
    }

    header {
        align-items: center;
    }


 }